<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>《书阁》最好用的小说阅读器</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="shortcut icon" href="favicon.ico">  
    <!---<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>  --->
    <!-- Global CSS -->
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="/static/plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="/static/plugins/animate-css/animate.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/static/css/styles.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head> 

<body data-spy="scroll">
    <!-- ******HEADER****** --> 

    
    <!-- ******PROMO****** --> 
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">《书阁》</h2>
                    <ul class="summary">
                        <li>网络最全小说站</li>
                        <li>最好用的缓存功能</li>
                        <li>书架保存，再也不用担心找不到了</li>
                        <li>iOS、安卓全平台下载</li>
                    </ul>
                    <div class="download-area">
                        <ul class="btn-group list-inline">
                            <!-- <li class="ios-btn"><a href="#">Download from the App Store</a></li> -->
                            <li class="android-btn"><a href="/static/apk/app-release.apk">安卓下载</a></li>
                        </ul>
                        
                    </div>
                </div><!--//overview-->
                
                <!--// iPhone starts -->
                <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                    <div class="iphone-holder phone-holder">
                        <div class="iphone-holder-inner">
                            <div class="slider flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="/static/images/iphone/iphone-slide-1.jpg"  alt="" />
                                    </li>
                                    <li>
                                        <img src="/static/images/iphone/iphone-slide-2.jpg"  alt="" />
                                    </li>
                                    <li>
                                        <img src="/static/images/iphone/iphone-slide-3.jpg"  alt="" />
                                    </li>
                                </ul><!--//slides-->
                            </div><!--//flexslider-->   
                        </div><!--//iphone-holder-inner-->                    
                    </div><!--//iphone-holder-->                   
                </div><!--//iphone-->  
                <!--// iPhone ends -->                                           
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->
    <!-- Javascript -->          
    <script type="text/javascript" src="/static/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="/static/plugins/isMobile/isMobile.min.js"></script>       
    <script type="text/javascript" src="/static/plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="/static/plugins/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="/static/plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>    
    <script type="text/javascript" src="/static/plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/static/plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="/static/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <!--[if !IE]>--> 
    <script type="text/javascript" src="/static/js/animations.js"></script> 
    <!--<![endif]-->         

</body>
</html> 


